extern "C" {
  void* alloc_state(chi::Admin::CreateContainerTask *task, const char *pool_name) {
    chi::Container *exec = reinterpret_cast<chi::Container*>(
        new TYPE_UNWRAP(TRAIT_CLASS)());
    exec->Init(task->ctx_.id_, CHI_CLIENT->GetQueueId(task->ctx_.id_), pool_name);
    return exec;
  }
  const char* get_module_name(void) { return TASK_NAME; }
  bool is_chimaera_task_ = true;
}